version: '3'
services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: covid-db
    healthcheck:
      test: pg_isready -U postgres -d covid-db
      interval: 1s
      timeout: 3s
      retries: 5
  covid-api:
    image: lucaspri/mise-en-prod-build_gradle:latest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"